#leftBrowser
{
    width: 20%;
    position: absolute;
    left: 5%;
    top: 10%;
}
form
{
    border: 1px solid lightsteelblue;
    border-radius: 4px;
}
label
{
    font-size: 18px;
    margin: 0 5px;
}
input[type=text]
{
    width: 100%;
    /*height: auto;*/
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}
#leftBrowser table
{
    margin-top: 3%;
    border: 2px solid lightsteelblue;
    border-radius: 4px;
    width: 100%;
    border-collapse: collapse;
}
#leftBrowser th
{
    background-color: #f1f1f1;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    color: darkgrey;
}
#leftBrowser td
{
    border: 2px solid lightsteelblue;
    font-size: 18px;
    padding: 4px;
    text-align: center;
}